<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/my_style.css">
    <meta charset="UTF-8">
    <title>Homework 1</title>
</head>

<header><cool_class1>Malyshev Oleg Hse student </cool_class1></header>

<main>
    <div class = "parent">
        <cool_class1>Studying 3rd year on cybersecurity MIEM HSE.</cool_class1>

        <cool_class1>Working as a pentester.</cool_class1>
    </div>


</main>
    <nav class="menu">
        <ul>
            <li><a href="">This page</a></li>
            <li><a href="feedback">feedback</a></li>
        </ul>
    </nav>
<footer>
    <cool_class1>My networks: </cool_class1>
    <p>
        <a href="https://github.com/maloleg">
            <img alt="github"
                 src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                 width=50" height="50">
        </a>
        <a href="https://www.vk.com/maloleg">
            <img alt="vk" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg"
                 width=50" height="50">
        </a>
    </p>
</footer>
<body>
<cool_class2> Page with CSS </cool_class2>
</body>
</html>