<!DOCTYPE html>
<html>
<head>
    <title>Dummy chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/my_style.css">
</head>
<body>
<script src="/js/javascript.js"></script>
</body>

<main>
    <header>
        <h1>Try to make some fun</h1>
        <h1>Start massage with "joke:"</h1>
    </header>

    <section class="chat">

    </section>

    <form id="simple_form">
        <input type="text" placeholder="message", id="input" />
        <button>Send</button>
    </form>
</main>

</html>