<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malyshev Oleg</title>
</head>

<header>Feedback form</header>

<main>
    <p>And here you can rate these two html pages</p>
</main>

<form name="form" method="post" action="send_feedback">
    <p><b>Your name:</b><br>
        <input name="name" type="text" size="40">
    </p>
    <p><b>Homework grade:</b><Br>
        <input type="radio" name="test" value="0"> 0
        <input type="radio" name="test" value="1"> 1
        <input type="radio" name="test" value="2"> 2
        <input type="radio" name="test" value="3"> 3
        <input type="radio" name="test" value="4"> 4
        <input type="radio" name="test" value="5"> 5
        <input type="radio" name="test" value="6"> 6
        <input type="radio" name="test" value="7"> 7
        <input type="radio" name="test" value="8"> 8
        <input type="radio" name="test" value="9"> 9
        <input type="radio" name="test" value="10"> 10
    </p>
    <p>Comment<Br>
        <textarea name="comment" cols="40" rows="11"></textarea></p>
    <p><input type="submit" value="Send">
        <input type="reset" value="Clear"></p>
</form>


<nav class="menu">
    <ul>
        <li><a href="/">Main page</a></li>
        <li><a href="feedback">This page</a></li>
        <li><a href="chat">Chat with admin</a></li>
    </ul>
</nav>
<footer>
    My networks:
    <p>
        <a href="https://github.com/maloleg">
            <img alt="github"
                 src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                 width=50" height="50">
        </a>
        <a href="https://www.vk.com/maloleg">
            <img alt="vk" src="https://upload.wikimedia.org/wikipedia/commons/2/21/VK.com-logo.svg"
                 width=50" height="50">
        </a>
    </p>
</footer>
<body>
    <style scoped>
      p2 { color: red;}
    </style>
    <p>Этот должен быть красным.</p>
    <p2>Page without CSS</p2>
</body>
</html>